/**
 * Este archivo ha sido generado automáticamente por el sistema de automatización de Supernova.io y no debe modificarse manualmente. Para modificar el formato o el contenido de este archivo, póngase en contacto con su equipo de diseño (alvaro.liniers@flat26.com). 
 */

:root {
  --typography-display-lg: 600 var(--font-size-sem-display-l-font-size)/120% var(--font-family-core-font-family-primary);
  /* Hero title */
  --typography-display-md: 600 var(--font-size-sem-display-m-font-size)/120% var(--font-family-core-font-family-primary);
  --typography-display-sm: 600 var(--font-size-sem-display-s-font-size)/120% var(--font-family-core-font-family-primary);
  --typography-heading-lg: 400 var(--font-size-sem-heading-l-font-size)/120% var(--font-family-core-font-family-secondary);
  --typography-heading-md: 400 var(--font-size-sem-heading-m-font-size)/120% var(--font-family-core-font-family-secondary);
  --typography-heading-sm: 400 var(--font-size-sem-heading-s-font-size)/120% var(--font-family-core-font-family-secondary);
  /* Headings within components */
  --typography-title-lg: 300 var(--font-size-sem-title-l-font-size)/120% var(--font-family-core-font-family-secondary);
  /* Headings within components */
  --typography-title-md: 400 var(--font-size-sem-title-m-font-size)/120% var(--font-family-core-font-family-secondary);
  --typography-title-sm: 400 var(--font-size-sem-title-s-font-size)/120% var(--font-family-core-font-family-secondary);
  --typography-body-lg: 300 var(--font-size-sem-body-l-font-size)/140% var(--font-family-core-font-family-secondary);
  /* Buttons, Links */
  --typography-body-md: 300 var(--font-size-sem-body-m-font-size)/140% var(--font-family-core-font-family-secondary);
  --typography-body-sm: 300 var(--font-size-sem-body-s-font-size)/140% var(--font-family-core-font-family-secondary);
  --typography-label-lg: 300 var(--font-size-sem-label-l-font-size)/140% var(--font-family-core-font-family-secondary);
  --typography-label-md: 300 var(--font-size-sem-label-m-font-size)/140% var(--font-family-core-font-family-secondary);
  --typography-label-sm: 300 var(--font-size-sem-label-s-font-size)/140% var(--font-family-core-font-family-secondary);
}