/**
 * Este archivo ha sido generado automáticamente por el sistema de automatización de Supernova.io y no debe modificarse manualmente. Para modificar el formato o el contenido de este archivo, póngase en contacto con su equipo de diseño (alvaro.liniers@flat26.com). 
 */

:root {
  --typography-display-large: 600 var(--font-size-sem-display-l-font-size)/120% var(--font-family-core-font-family-primary);
  /* Hero title */
  --typography-display-medium: 600 var(--font-size-sem-display-m-font-size)/120% var(--font-family-core-font-family-primary);
  --typography-display-small: 600 var(--font-size-sem-display-s-font-size)/120% var(--font-family-core-font-family-primary);
  --typography-heading-large: 400 var(--font-size-sem-heading-l-font-size)/120% "Twogether Sans";
  --typography-heading-medium: 400 var(--font-size-sem-heading-m-font-size)/120% "Twogether Sans";
  --typography-heading-small: 400 var(--font-size-sem-heading-s-font-size)/120% "Twogether Sans";
  /* Headings within components */
  --typography-title-large: 300 var(--font-size-sem-title-l-font-size)/120% "Twogether Sans";
  /* Headings within components */
  --typography-title-medium: 400 var(--font-size-sem-title-m-font-size)/120% "Twogether Sans";
  --typography-title-small: 400 18px/120% "Twogether Sans";
  --typography-body-large: 300 var(--font-size-sem-body-l-font-size)/140% "Twogether Sans";
  /* Buttons, Links */
  --typography-body-medium: 300 var(--font-size-sem-body-m-font-size)/140% "Twogether Sans";
  --typography-body-small: 300 var(--font-size-sem-body-s-font-size)/140% "Twogether Sans";
  --typography-label-large: 300 var(--font-size-sem-label-l-font-size)/120% "Twogether Sans";
  --typography-label-medium: 300 var(--font-size-sem-label-m-font-size)/120% "Twogether Sans";
  --typography-label-small: 300 var(--font-size-sem-label-s-font-size)/120% "Twogether Sans";
}