/**
 * Este archivo ha sido generado automáticamente por el sistema de automatización de Supernova.io y no debe modificarse manualmente. Para modificar el formato o el contenido de este archivo, póngase en contacto con su equipo de diseño (alvaro.liniers@flat26.com). 
 */

.theme-desktop {
  --line-height-semantic-display-l-line-height: 86px;
  --line-height-semantic-display-m-line-height: 72px;
  --line-height-semantic-display-s-line-height: 56px;
  --line-height-semantic-heading-l-line-height: 56px;
  --line-height-semantic-heading-m-line-height: 50px;
  --line-height-semantic-heading-s-line-height: 40px;
  --line-height-semantic-title-l-line-height: 36px;
  --line-height-semantic-title-m-line-height: 30px;
  --line-height-semantic-title-s-line-height: 26px;
  --line-height-semantic-body-l-line-height: 28px;
  --line-height-semantic-body-m-line-height: 24px;
  --line-height-semantic-body-s-line-height: 22px;
  --line-height-semantic-body-xs-line-height: 20px;
  --line-height-semantic-label-l-line-height: 18px;
  --line-height-semantic-label-m-line-height: 16px;
  --line-height-semantic-label-s-line-height: 16px;
  --line-height-semantic-label-xs-line-height: 14px;
}